<!DOCTYPE html>
<!--
  Basic scriptogr.am theme
  Modified by Jean-Philippe Sirois
-->
<html lang="fr">
<head>
  <title>{{#is_post}}{{#posts}}{{title}} — {{/posts}}{{/is_post}}{{#is_page}}{{#posts}}{{title}} — {{/posts}}{{/is_page}}{{#is_archive}}Archives — {{/is_archive}} Blog de Jean-Philippe Sirois</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="{{author}} | {{blog_title}}">
  <meta property="og:url" content="{{#posts}}{{#is_post}}{{permalink}}{{/is_post}}{{/posts}}">
  <meta property="og:site_name" content="{{#posts}}{{#is_post}}{{title}} - {{/is_post}}{{/posts}}{{author}} on scriptogr.am">
  <meta property="og:title" content="{{#posts}}{{#is_post}}{{title}} - {{/is_post}}{{/posts}}{{author}} on scriptogr.am" />
  <meta property="og:description" content="{{author}} | {{blog_title}}" />
  <meta property="og:type" content="article" />
  <meta property="fb:app_id" content="241164325961701" />
  <meta property="og:image" content="http://jpsirois.com/jean-philippe-sirois.jpg" />
  <link rel="canonical" href="{{#posts}}{{#is_post}}{{permalink}}{{/is_post}}{{/posts}}" />
  <link rel="shortcut icon" href="//jpsirois.com/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{base_url}}/feed" />
  {{css}}
  <style>.avatar{background: #f5f5f2 url("{{profile_image}}");background: rgba(100,100,100,0.1) url("{{profile_image}}");}#top-header{background-image: url("{{cover_image}}");}a:hover,blockquote,article.archive .archive-link a:hover {border-color:{{accent_color}}}#articles h2 a:hover,#top-header:hover,#top-header:hover h1{color:{{accent_color}}}pre:hover,body:before{background:{{accent_color}}}</style>
  <script src="/themes/{{theme}}/assets/js/respond.min.js"></script>
  <script>var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-3404321-9']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
</head>
  <body>
    <header class="parallax" data-velocity="-.2" id="top-header">
     <div class="group content">
      <nav id="main-nav">
        <ul>{{#pages}}<li><a href="{{permalink}}">{{title}}</a></li>{{/pages}}</ul>
      </nav>
      <hgroup id="main-header">
        <div class="avatar"></div>
         <a href="{{base_url}}"><h1>{{author}}</h1></a>
         <div class="author">
          <p>{{blog_title}}</p>
        </div>
      </hgroup>
     </div>
     <div ></div>
    </header>
    <section id="articles" class="{{page}}">

    {{#posts}}

    {{^is_archive}}
    <article>
     <div class="content">
     {{#date}}<div class="date">{{prettydate}}</div>{{/date}}
      <div class="articlepost">
      <header>
        <h1><a href="{{permalink}}">{{title}}</a> {{#post_permalink}}<a href="{{post_permalink}}">#</a>{{/post_permalink}}</h1>
      </header>
      {{#excerpt}}<span class="introduction">{{excerpt}}</span>{{/excerpt}}
      {{content}}
      {{#if_tags}}
        <ul class="tags">
          {{#tags}}<li><a href="{{base_url}}/tag/{{name}}">{{name}}</a></li>{{/tags}}
        </ul>
      {{/if_tags}}
      {{#is_post}}
                <!-- Like button -->
                <div id="social">

                  <! -- Tweet button -->
                  <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{title}} par @JP_Sirois" data-related="scriptogram" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                  <! -- Like button -->
                  <div class="fb-like" data-href="{{permalink}}" data-send="false" data-layout="button_count" data-width="48" data-show-faces="false"></div>

                  <! -- +1 button -->
                  <g:plusone size="medium" annotation="none"></g:plusone>

                  <script>
                    window.___gcfg = { lang: 'fr-CA' };
                    (function() {
                      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';
                      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                  </script>
                </div>
      {{/is_post}}
      </div>
     </div>
    </article>
    {{/is_archive}}

    <!-- archive -->
    {{#is_archive}}
    <article class="archive{{#archive_divider}} archive-devider{{/archive_divider}} {{archive_divider_index}}">
      <div class="content">
        {{#archive_divider}}<div class="archive-date-divider">{{archive_divider}}</div>{{/archive_divider}}
         <span class="archive-date">{{prettydate}}</span><span class="archive-link"><a href="{{permalink}}">{{title}}</a>{{#post_permalink}} <a href="{{post_permalink}}">#</a>{{/post_permalink}}</strong>
        {{#excerpt}}<span class="introduction">{{excerpt}}</span>{{/excerpt}}
      </div>
    </article>
    {{/is_archive}}
    {{/posts}}

    <!-- 404 -->
    {{^posts}}
    <article>
     <div class="content">
      <div class="articlepost">
      <header>
        <h2><a href="{{base_url}}">Found nothing to read, sorry.</a></h2>
      </header>
      </div>
     </div>
    </article>
    {{/posts}}

    {{#is_archive}}
    <!-- used to give the archive bottom some nice spacing... -->
    <div class="archive-foot"></div>
    {{/is_archive}}

    </section>
    <section class="pagination">
      <div class="content">{{pagination}}</div>
    </section>
    <footer>
      <div class="content">
        {{blog_title}}
            <p>Conçus avec <a class="scriptogram-link" href="http://scriptogr.am/" title="Conçus avec scriptogr.am" >scriptogr.am</a></p>
      </div>
    </footer>
    <div id="fb-root"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/themes/{{theme}}/app.js"></script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_CA/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
