<!DOCTYPE html>
<!--
  Readnik scriptogr.am theme
  Modified by Jean-Philippe Sirois
-->
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{#is_post}}{{#posts}}{{title}} — {{/posts}}{{/is_post}}{{#is_page}}{{#posts}}{{title}} — {{/posts}}{{/is_page}} Blog de {{author}}</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="ROBOTS" content="INDEX,FOLLOW">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:url" content="{{#posts}}{{#is_post}}{{permalink}}{{/is_post}}{{/posts}}">
  <meta property="og:site_name" content="{{#posts}}{{#is_post}}{{title}} — {{/is_post}}{{/posts}}Blog de {{author}}">
  <meta property="og:title" content="{{#posts}}{{#is_post}}{{title}} — {{/is_post}}{{/posts}}Blog de {{author}}" />
  <meta property="og:description" content="Blog de {{author}}" />
  <meta property="og:type" content="article" />
  <meta property="fb:app_id" content="241164325961701" />
  <link rel='canonical' href='{{#posts}}{{#is_post}}{{permalink}}{{/is_post}}{{/posts}}' />
  <link rel="shortcut icon" href="http://jpsirois.com/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{base_url}}/feed" />
  {{css}}
  <script>var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-3404321-9']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
</head>
<body>
<div class="wrapper">
  <div class="blog">

      <div id="menu" class="menu-top">
        <div class="blog-info">
          <h1><a href="{{home_link}}">{{author}}</a></h1>
          <div class="blog-description">
           <h2>{{blog_title}}</h2>
          </div>
         </div>
         <div class="pages">
          {{#pages}}
            <a href="{{permalink}}">{{title}}</a>
          {{/pages}}
        </div>
      </div>

      <div class="container">
      {{#posts}}
        <!-- first post -->
        {{#first}}
         <div class="post">
            <div class="content">
            <div class="date">{{prettydate}}</div>
            <div class="title"><h2><a href="{{permalink}}">{{title}}</a> {{#post_permalink}}<a href="{{post_permalink}}">#</a>{{/post_permalink}}</h2></div>
            <div class="body-post">
              <!--if excerpt-->
              {{#excerpt}}<span class="introduction">{{excerpt}}</span>{{/excerpt}}
              <!--endif-->
              {{content}}
              <!-- if tags -->
              {{#if_tags}}
              <ul class="tags">
                {{#tags}}
                  <li><a href="{{base_url}}/tag/{{name}}">{{name}}</a></li>
                {{/tags}}
              </ul>
              {{/if_tags}}
              <!-- endif -->
              <!-- social buttons -->
               <div class="share-buttons">
                <div class="share-twitter">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{permalink}}" data-via="scriptogram" data-lang="fr">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                 </div>
                <div class="share-gplus">
                  <g:plusone size="medium" href="{{permalink}}"></g:plusone>
                 </div>
                <div class="share-facebook">
                  <div class="fb-like" data-href="{{permalink}}" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="arial"></div>
                </div>
               </div>
            </div><!--end body-->
          </div><!--end content-->
          <div class="clear"></div>
        </div><!--end post-->
        <p class="previous-articles">Articles précédents</p>
       {{/first}}
       <!-- end first post -->
       <!-- index and not first -->
       {{^first}}
       {{#is_index}}
        <div class="post">
          <div class="archive-content">
            <div class="archive-date">{{prettydate}}</div>
            <div class="archive-title"><h3><a href="{{permalink}}">{{title}}</a> {{#post_permalink}}<a href="{{post_permalink}}">#</a>{{/post_permalink}}</h2></h3></div>
          </div><!--end archive-content-->
          <div class="clear"></div>
        </div>
      {{/is_index}}
      {{/first}}

      <!-- post permalink -->
      {{#is_post}}
         <div class="post">
            <div class="content">
            <div class="date">{{prettydate}}</div>
            <div class="title"><h2><a href="{{permalink}}">{{title}}</a> {{#post_permalink}}<a href="{{post_permalink}}">#</a>{{/post_permalink}}</h2></div>
            <div class="body-post">
              <!--if excerpt-->
              {{#excerpt}}<span class="introduction">{{excerpt}}</span>{{/excerpt}}
              <!--endif-->
              {{content}}
              <!-- if tags -->
              {{#if_tags}}
              <ul class="tags">
                {{#tags}}
                  <li><a href="{{base_url}}/tag/{{name}}">{{name}}</a></li>
                {{/tags}}
              </ul>
              {{/if_tags}}
              <!-- endif -->
               <!-- social buttons -->
               <div class="share-buttons">
                <div class="share-twitter">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{permalink}}" data-via="scriptogram" data-lang="fr">Tweeter</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                 </div>
                <div class="share-gplus">
                  <g:plusone size="medium" href="{{permalink}}"></g:plusone>
                </div>
                <div class="share-facebook">
                  <div class="fb-like" data-href="{{permalink}}" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="arial"></div>
                </div>
               </div>
           </div><!--end body-->
          </div><!--end content-->
          <div class="clear"></div>
        </div><!--end post-->
        <p class="previous-articles"><a href="http://blog.jpsirois.com/archive">Plus d’articles</p>
      {{/is_post}}
      <!-- endif -->

      <!-- page permalink -->
      {{#is_page}}
          <div class="post">
           <div class="content">
            <div class="date"></div>
            <div class="title"><h2><a href="{{permalink}}">{{title}}</a> {{#post_permalink}}<a href="{{post_permalink}}">#</a>{{/post_permalink}}</h2></div>
            <div class="body-post">
              <!--if excerpt-->
              {{#excerpt}}<span class="introduction">{{excerpt}}</span>{{/excerpt}}
              <!--endif-->
              {{content}}
              <!-- if tags -->
              {{#if_tags}}
              <ul class="tags">
                {{#tags}}
                  <li><a href="{{base_url}}/tag/{{name}}">{{name}}</a></li>
                {{/tags}}
              </ul>
              {{/if_tags}}
              <!-- endif -->
            </div><!--end body-->
          </div><!--end content-->
          <div class="clear"></div>
        </div><!--end post-->
      {{/is_page}}
      <!-- endif -->

      <!-- archive -->
      {{#is_archive}}
        <div class="post">
          <div class="archive-content">
            <div class="archive-date">{{prettydate}}</div>
            <div class="archive-title"><h3><a href="{{permalink}}">{{title}}</a></h3></div>
          </div><!--end archive-content-->
          <div class="clear"></div>
        </div>
      {{/is_archive}}

    {{/posts}}
    <div class="pagination">{{pagination}}</div>
    </div><!-- end container -->
  </div><!-- end blog -->
</div><!-- end wrapper -->
<!--
  <div class="scriptogram-link"><a href="http://scriptogr.am/" title="Built with scriptogr.am" >scriptogr.am</a></div>
-->
<div id="fb-root"></div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/themes/{{theme}}/app.js"></script>
<script type="text/javascript">
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/fr_CA/all.js#xfbml=1&appId=241164325961701";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>var _gauges = _gauges || []; (function() { var t = document.createElement('script'); t.type  = 'text/javascript'; t.async = true; t.id = 'gauges-tracker'; t.setAttribute('data-site-id', '4f77107e613f5d03c2000004'); t.src = '//secure.gaug.es/track.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(t, s); })();</script>
</body>
</html>